:root {
  --blk: black;
  --clr: white;
}

.blackbtn {
  background-color: var(--blk);
}

.clearbtn {
  background-color: var(--clr);
}

.rainbowbtn {
  --r: 0;
  --g: 0;
  --b: 0;
  background-color: rgb(var(--r), var(--g), var(--b));
}

* {
  box-sizing: border-box;
}

#gridContainer {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  max-height: 450px;
}

.parentDiv {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.parentDiv > * {
  height: 30px;
  border: 1px solid black;
}
